@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 200% top 150%, left 180% bottom 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1440px) {
    
    .card-container{
        margin: 100px 0px 40px 0px;
        width: 95%;
        background-color: white;
        border-radius: 20px;
    }
    .img-bg img{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .bio{
        margin-top: -15%;
        text-align: center;
    }
    .bio img{
        border-radius: 50%;
        border: 5px solid white;
    }
    .bio h1{
        font-weight: 700;
        font-size: 18px;
        margin: 14px 0 7px 0;
    }
    .bio h1 span,
    .bio .city{
        color: hsl(227, 10%, 46%);
        font-weight: 400;
    }
    .bio .city{
        font-size: 15px;
    }
    
    .data{
        padding: 25px;
        border-top: 1px solid hsl(0, 0%, 90%);
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .data h3{
        font-size: 16px;
        font-weight: 700
    }
    .data h3 span{
        color: hsl(227, 10%, 46%);
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-size: 10px;
    }
    .data h3:nth-child(2){
        padding-right: 13px;
    }
}
@media screen and (max-width: 375px) {
    .container{
        padding: 0px 20px;
    }
    .card-container{
        margin: 100px 0px 40px 0px;
        width: 100%;
    }
    .bio img {
        width: 30%;
    }
    .bio h1{
        font-size: 16px;
        margin: 10px 0 6px 0;
    }
    .bio h1 span{
        margin: 5px;
    }
    .bio .city {
        font-size: 13px;
    }
    .data {
        padding: 20px 30px;
    }
    
}